@page "/"

<section class=" hero">
    <div class="hero-container">
        <div class="hero-text">
            <div>
                <h4>Hello, My mame is</h4>
                <h1>Nguyen Tuyen</h1>
                <h3>I'm a <span> .Net/.Net core</span> Developer</h3>
                <form class=" form-control hero-form" >
                    <input placeholder="Enter your email">
                    <a class="btn btn-primary hero-btn">Contact Me</a>
                </form>
            </div>
        </div>
        <div class="hero-img">
            <div class="img-container">
                <div class="hero-background">
                </div>
                <img src="@Assets["images/hero-img.png"]" alt="hero-img">
                <div class="spin">
                    <div class="spin-circle"></div>
                    <img class="icon icon-1" src="@Assets["images/icons/icon1.png"]">
                    <img class="icon icon-2" src="@Assets["images/icons/icon2.png"]">
                    <img class="icon icon-3" src="@Assets["images/icons/icon3.png"]">
                    <img class="icon icon-4" src="@Assets["images/icons/icon4.png"]">
                </div>
            </div>
        </div>



    </div>

</section>
<section class=" hero">
    <div class="hero-container">
        <div class="hero-text">
            <div>
                <h4>Hello, My mame is</h4>
                <h1>Nguyen Tuyen</h1>
                <h3>I'm a <span> .Net/.Net core</span> Developer</h3>
                <form class=" form-control hero-form" >
                    <input placeholder="Enter your email">
                    <a class="btn btn-primary hero-btn">Contact Me</a>
                </form>
            </div>
        </div>
        <div class="hero-img">
            <div class="img-container">
                <div class="hero-background">
                </div>
                <img src="@Assets["images/hero-img.png"]" alt="hero-img">
                <div class="spin">
                    <div class="spin-circle"></div>
                    <img class="icon icon-1" src="@Assets["images/icons/icon1.png"]">
                    <img class="icon icon-2" src="@Assets["images/icons/icon2.png"]">
                    <img class="icon icon-3" src="@Assets["images/icons/icon3.png"]">
                    <img class="icon icon-4" src="@Assets["images/icons/icon4.png"]">
                </div>
            </div>
        </div>



    </div>

</section>
